@use "./variables" as *;

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    background-color: $bgBlue;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $textWhite;
    padding: 0 20px;

    .title-footer {
        color: $textWhite;
        text-decoration: none;
    }

    a {
        color: $textWhite;
        font-size: 1.5em;
        margin: 0 10px;
    }

}