@use "./variables" as *;
 
.converter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bgBlue;
    color: $textGray;
    border-radius: 15px;
    width: 50%;
    max-width: 900px;
    margin: 4em auto;
    padding: 2.5em;

    form {
        display: flex;
        gap: 1em;
        @media screen and (max-width: 1292px) {
            flex-direction: column;
        }
        select {
            min-width: 150px;
        }
    }

    p {
        font-size: 1.5em;
    }

}