@use "./variables" as *;

header {
    display: flex;
    justify-content: space-around;
    background-color: $bgBlue;
    height: 80px;
    align-items: center;
    text-decoration: none;

    .title-logo {
        color: $textWhite;
        font-weight: bold;
        font-size: 1.5rem;
    text-decoration: none;

    }
    
    .nav {
        // border: 2px solid red;
        display: flex;
        justify-content: space-around;
        gap: 5em;
        align-items: center;
        font-size: 1.2rem;

        
        div {
            color: $textWhite

        }
        .navlink {
            color: white;
            text-decoration: none;
            
        }
    }
  }