@use "./partials/variables" as *;
@use "./partials/Header";
@use "./partials/ConvertForm";
@use "./partials/Help";
@use "./partials/News";
@use "./partials/Footer";
@use "./partials/Contact";
@use "./partials/LoginForm";

// * {
//     margin: 0;padding: 0;box-sizing: border-box;
// }
* {
    font-family: sans-serif;
}

body {
    margin-bottom: 50px;
}